<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rrchat</title>

    <script src="https://unpkg.com/vue@next"></script>
</head>
<body style="margin: 0; padding: 0;">
    
    <div id="app">



        <div    id="logIn" 
                class="outer"
                v-show="!loggedIn && false"
                style="display: none;">
            <div    class="window flex-row"
                    style="width: min(512px, 100%); height: min(320px, 100%);">


                <!-- Two panes -->
                <img    src="/rrchat/public/background.jpg"
                        style="width: 50%; height: 100%; object-fit: cover;">
                <div    class="flex-column flex-middle fill"
                        v-show="!showCreateAccount">
                    <h1     class="text-title push-bottom"
                            style="margin-top: 8px;">Log in</h1>
                    <form   class="input flex-column" 
                            style="gap: 8px;"
                            v-on:submit.prevent="gui_logIn"
                            style="width: 50%; height: 100%;">
                        
                        <p class="text-no-margin">Username</p>
                        <input v-model="logInUsername" type="text">
                        <p class="text-no-margin">Password</p>
                        <input v-model="logInPassword" type="password">
                        <input  type="submit" 
                                value="Log In"
                                :disabled="waitingToBeLoggedIn">
                    </form>
                    <p class="text-title">{{ logInMessage }}</p>
                    <a      class="text-no-margin push-top text-hover-highlight text-hover-pointer"
                            v-on:click="showCreateAccount = true"
                            style="margin-bottom: 8px;">Create an account</a>
                </div>
                <div    class="flex-column flex-middle fill"
                        v-show="showCreateAccount">
                    <h1     class="text-title push-bottom"
                            style="margin-top: 8px;">Register</h1>
                    <form   class="input flex-column" 
                            style="gap: 8px;"
                            v-on:submit.prevent="gui_register"
                            style="width: 50%; height: 100%;">
                        
                        <p class="text-no-margin">Username</p>
                        <input v-model="registerUsername" type="text">
                        <p class="text-no-margin">Password</p>
                        <input v-model="registerPassword" type="password">
                        <p class="text-no-margin">Repeat password</p>
                        <input  v-model="registerPasswordRepeated" type="password">
                        <input  type="submit" 
                                value="Register"
                                :disabled="waitingToBeLoggedIn">
                    </form>
                    <p class="text-title">{{ registerMessage }}</p>
                    <a      class="text-no-margin push-top text-hover-highlight text-hover-pointer"
                            v-on:click="showCreateAccount = false"
                            style="margin-bottom: 8px;">I have an account</a>
                </div>



            </div>
        </div>


        <div    id="feed"
                class="outer"
                v-show="loggedIn && false"
                style="display: none;">
            <div    class="flex-row"
                    style="width: min(640px, 100%); height: max-content; max-height: calc(100% - 2 * 32px);">
                
                <!-- Actions pane -->
                <div    id="action-pane"
                        class="flex-column window"
                        style="width: 50%;">
                    <div style="padding: 16px; height: 100%; overflow-y: auto;">
                        <div    class="flex-row flex-middle"
                                style="margin-bottom: 16px;">
                            <p     class="text-no-margin"
                                    style="font-size: 18px;">{{ username }}</p>
    
                            <button class="button-style-light button-size-compact push-left" 
                                    v-on:click="gui_logOut">
                                Log Out
                            </button>
                        </div>
    
                        <div    class="flex-column"
                                style="gap: 8px;">
                            <div v-on:click="showDiscoverGroups = true; request_discoverGroups();">
                                <p class="text-no-margin text-hover-highlight text-hover-pointer"
                                    style="padding-left: 8px;">
                                    Discover groups
                                </p>
                            </div>
        
                            <hr>
        
                            <div v-on:click="showCreateGroup = true">
                                <p class="text-no-margin text-hover-highlight text-hover-pointer"
                                style="padding-left: 8px;">
                                    Create a group
                                </p>
                            </div>
        
                            <hr>
        
                            <div>
                                <p class="text-no-margin text-hover-highlight text-hover-pointer"
                                style="padding-left: 8px;">
                                    Change theme
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Chats pane -->
                <div    class="flex-column"
                        style="width: 50%; height: 100%; gap: 8px; padding: 0 16px; overflow-y: auto;">
                    
                    
                    
                    
                    
                    <!-- Invitations -->
                    <h1     class="text-no-margin" v-if="invitations.length > 0"
                            style="margin: 0;">Invitations</h1>
                    <div    class="flex-column group-card"
                            v-for="invitation in invitations">
                        <div>
                            <h1 class="text-no-margin">{{ invitation["group"] }}</h1>
                            <p class="text-no-margin">Invited by {{ invitation["inviter"] }}</p>
                        </div>
                    </div>

                    
                    <!-- Groups -->
                    <h1     class="text-no-margin" style="margin: 0;">Groups</h1>

                    <div    class="flex-column group-card"
                            v-for="group in groups">
                        <div>
                            <h1 class="text-no-margin">{{ group["name"] }}</h1>
                            <p class="text-no-margin">{{ group["message"] }}</p>
                        </div>
                    </div>

                    <div    class="flex-column flex" 
                            v-if="invitations.length == 0 && groups.length == 0"
                            style="margin-top: 32px;">
                        <h3 class="text-no-margin text-center">You don't belong into any group</h3>
                        <p class="text-no-margin text-center">
                            Use the 'Discover groups' section to find groups that you are interested in
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div    class="fill"
                syle="position: relative;"
                v-show="showChat">

            <div    class="flex-row"
                    style="position: absolute; top: 0; left: 0; width: 100%; height: 32px;">
                <div    class="flex-row flex-middle"
                        style="position: absolute; left: 0; top: 0; width: 32px; height: 32px;">
                    <svg    class="button-style-light"
                            style="width: 24px; height: 24px;"
                            v-on:click="showDiscoverGroups = false"
                            width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M60 20L30 50L60 80" stroke="black" stroke-width="8" stroke-linecap="round"/>
                    </svg>
                </div>


                <h1 class="text-title">{{ showChatName }}</h1>
            </div>

            <div style="position: absolute; top: 32px; left: 0; width: 100%; height: calc(100% - 2 * 32px); overflow: auto;">
                <div class="flex-column-reverse">
                    <div    style="height: auto; width: fit-content; max-width: calc(100% - 2 * 16px);"
                            v-for="(message, i) in messages">
                        <p>This is a message</p>
                    </div>
                </div>
            </div>

            <form   class="flex-row search"
                    style="position: absolute; bottom: 0; left: 0; width: 100%; height: 32px;">
                <input type="text" placeholder="Write something">
                <input type="submit" value="Send">
            </form>
        </div>




        <div    id="discover-groups" 
                class="outer black-bg"
                v-show="showDiscoverGroups"
                style="display: none;">
            <div    class="window flex-column"
                    style="width: min(512px, 100%); height: 480px; padding: 0 16px;">


                <!-- Title bar -->
                <div    class="flex-row"
                        style="position: relative;">
                    <div    class="flex-column flex-middle" 
                            style="width: 24px; height: 100%; position: absolute; top: 0; left: 0;">
                        <svg    class="button-style-light"
                                style="width: 24px; height: 24px;"
                                v-on:click="showDiscoverGroups = false"
                                width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M60 20L30 50L60 80" stroke="black" stroke-width="8" stroke-linecap="round"/>
                        </svg>
                    </div>
                    <h1 class="text-title"
                        style="font-size: 24px; margin: 4px 0; flex: 0 0 auto;">Discover groups</h1>
                </div>
                <hr>

                <!-- Search bar -->
                <form   class="search" 
                        v-on:submit.prevent="gui_discoverGroupsSearch()"
                        style="flex: 0 0 auto; height: 32px; margin: 16px 0;">
                    <input type="text" placeholder="Search by name" v-model="discoverGroupsSearchInput">
                    <input type="submit" value="Search">
                </form>

                <!-- Results list -->
                <div    style="overflow: auto; flex: 1 1 auto; margin-bottom: 16px;">
                    
                    <div class="flex-column">
                        <!-- Found group -->
                        <div    class="flex-row flex-middle" 
                                style="height: 48px;"
                                v-for="group in discoverGroupsResults">
                            <div class="flex-column">
                                <h1 class="text-no-margin"
                                    style="font-size: 24px;">
                                    {{ group["name"] }}
                                </h1>
                                <p  class="text-no-margin">Members: {{ group["members"] }}</p>
                            </div>
                            
                            <!-- Spacer -->
                            <div style="margin-right: auto;"></div>

                            <button :disabled="group['isMember']" 
                                    class="button-style-one-way button-size-compact"
                                    v-on:click="gui_discoverGroupsJoin(group)">{{group["isMember"] ? "Joined" : "Join"}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <div    id="create-group" 
                class="outer black-bg"
                v-show="showCreateGroup"
                style="display: none;">
            <div    class="window flex-column"
                    style="width: min(480px, 100%); height: 256px; padding: 0 16px 16px 16px;">


                <!-- Title bar -->
                <div    class="flex-row"
                        style="position: relative;  flex: 0 0 auto;">
                    <div    class="flex-column flex-middle" 
                            style="width: 24px; height: 100%; position: absolute; top: 0; left: 0;">
                        <svg    class="button-style-light"
                                style="width: 24px; height: 24px;"
                                v-on:click="showCreateGroup = false"
                                width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M60 20L30 50L60 80" stroke="black" stroke-width="8" stroke-linecap="round"/>
                        </svg>
                    </div>
                    <h1 class="text-title"
                        style="font-size: 24px; margin: 4px 0; flex: 0 0 auto;">Create a group</h1>
                </div>
                <hr>

                <!-- Search bar -->
                <div    class="flex-column"
                        style=" margin: 16px 0; flex: 0 0 auto;">
                    <p  class="text-no-margin" 
                        v-if="createGroupIsNameTaken != -1"
                        style="margin-bottom: 8px;"
                        v-bind:style="createGroupIsNameTaken ? 'color: #eb6960;' : 'color: #68ba81'">
                        {{ createGroupIsNameTaken ? "This name is taken" : "Ready to go" }}
                    </p>
                    <form   class="search" 
                            v-on:submit.prevent="gui_createGroupCheck()"
                            style="flex: 0 0 auto; height: 32px;">
                        <input type="text" placeholder="Name" v-model="createGroupNameInput">
                        <input type="submit" value="Check">
                    </form>
                </div>

                <form   class="flex-column"
                        style=" flex: 1 1 auto;">
                    <h2 class="text-no-margin">Privacy</h2>
                    <div style="padding: 16px;">
                        <div class="flex-row">
                            <input  id="__createGroupIsPublic" 
                                    type="checkbox"
                                    v-model="createGroupIsPublic"
                                    @change="createGroupRequestToJoin = createGroupRequestToJoin && createGroupIsPublic">
                            <label for="__createGroupIsPublic">Is public</label>
                        </div>
    
                        <div class="flex-row">
                            <input  id="__createGroupRequestToJoin" 
                                    type="checkbox"
                                    v-model="createGroupRequestToJoin"
                                    :disabled="!createGroupIsPublic">
                            <label for="__createGroupRequestToJoin">Request to join</label>
                        </div>
                    </div>
                </form>

                <div class="flex-column flex-middle">
                    <button class="button-style-light button-size-compact"
                            style=" flex: 0 0 auto;"
                            v-on:click="gui_createGroup()">
                        Create group
                    </button>
                </div>
            </div>
        </div>




    </div>

    <link rel="stylesheet" href="/rrchat/public/dev.css">
    <script src="/rrchat/socket.io/socket.io.js"></script>
    <script src="/rrchat/public/dev.js"></script>

</body>
</html>