:root {
    --chat-text-size: 13px;
    --wallpaper: url('https://img.wallpapersafari.com/desktop/1366/768/15/56/5AvZkg.jpg');
    
}

body {
    position: relative;

    background-color: #fff;

    width: 100vw;
    height: 100vh;
}

body::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background-color: #fff;
    background-image: var(--wallpaper);
    background-size: cover;
    background-position: center;
    opacity: 0.5;

    z-index: -100;
}